radio {
    min-width: 16px;
    min-height: 16px;
    margin: 3px;
    -gtk-icon-source: url("../assets/radio-unchecked.svg");
}

radio:disabled {
	-gtk-icon-source: url("../assets/radio-disabled.svg");
}

radio:indeterminate {
	-gtk-icon-source: url("../assets/radio-indeterminate.svg");
}
radio:disabled:indeterminate {
	-gtk-icon-source: url("../assets/radio-indeterminate-disabled.svg");
}

radio:checked {
	-gtk-icon-source: url("../assets/radio-checked.svg");
}

radio:disabled:checked {
    -gtk-icon-source: url("../assets/radio-checked-disabled.svg");
}