/* STACK SWITCHER */
stackswitcher > button {
    border-radius: 0;
    border-left-width: 0;
    padding-left: 21px;
	padding-right: 21px;
}
stackswitcher > button:first-child {
    border-left-width: 1px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
stackswitcher > button:last-child {
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}