.nautilus-window scrolledwindow {
	background: @entry_background;
}
.nautilus-window widget.view:selected{
	color: @text_white;
	background: @primary_color;
	border-radius: 7px;
}
.nautilus-window notebook {
	border:none;
}
.nautilus-window scrolledwindow {
	border:none;
	border-left: 1px solid @border_color;
	border-top: 1px solid @border_color;
}
.nautilus-window > grid > paned > separator {
	background: none;
}
.nautilus-window placessidebar {
	border:none;
}

.nautilus-window notebook, .nautilus-window notebook > stack, .nautilus-window scrolledwindow {
	border-top: none;
}

/* PATH-BAR BUTTONS */
.nautilus-path-bar button {
	border-radius:0px;
	margin-left: -1px;
	padding-left: 9px;
	padding-right: 9px;
}
.nautilus-path-bar button:first-child  {
	border-top-left-radius: 7px;
	border-bottom-left-radius: 7px;
	margin-left: 0px;	
}
.nautilus-path-bar button:last-child {
	border-top-right-radius: 7px;
	border-bottom-right-radius: 7px;	
}

/* Bottom Left floating bar */
.floating-bar {
	background: @theme_bg_color;
	border: 1px solid @border_color;
	border-bottom: none;
	border-right: none;

	border-top-left-radius: 11px;
	border-bottom-right-radius: 15px;
}

/* SIDE BAR */
.nautilus-window .sidebar-row {
	padding-left: 14px;
	padding-right: 14px;
}

/* List view */
.nautilus-window treeview > header > button:first-child {
	border-top-left-radius: 15px;
	padding-left: 9px;
}
.nautilus-list-view .floating-bar {
	border-bottom-right-radius: 0px;
}